@import "colors";

/* Local Fonts */
@font-face {
    font-family: "monument";
    src: url('../assets/fonts/monumentextended-regular-webfont.woff2');
}
@font-face {
    font-family: "messina_sanslight";
    src: url('../assets/fonts/messinasans-light-webfont.woff2');
}

@font-face {
    font-family: "messina_sansbold";
    src: url('../assets/fonts/messinasans-bold-webfont.woff2');
}

@font-face {
    font-family: "messina_sansregular";
    src: url('../assets/fonts/messinasans-regular-webfont.woff2');
}


/* Default Mixins */

@mixin defaultfont {
    font-family: "messina_sansregular", Helvetica, sans-serif;
    color: $c-neutral;
}

@mixin defaulttitle {
    font-family: "monument", Helvetica, sans-serif;
    color: $c-neutral;
}

/* Specific Mixins */

@mixin heading1 {
    @include defaulttitle;
    font-size: 4rem;
    line-height: 5rem;
}

@mixin heading2 {
    @include defaulttitle;
    font-size: 3rem;
    line-height: 4rem;
    text-transform: uppercase;
}

@mixin heading3 {
    @include defaulttitle;
    font-size: 1.5rem;
    line-height: 2rem;
    text-transform: uppercase;
}

@mixin paragraphregular {
    @include defaultfont;
    font-size: 1rem;
    line-height: 1.5rem;
}

@mixin paragraphlight {
    @include defaultfont;
    font-family: "messina_sanslight", Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
}

@mixin paragraphbold {
    @include defaultfont;
    color: $c-primary;
    font-family: "messina_sansbold", Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 2.6rem;
}