@import "colors";
@import "typography";
@import "spacing";
@import "components";
@import "buttons";
@import "mediaqueries";


/* Default values */
html {
    scroll-behavior: smooth;    
}

body {
    @include defaultfont;
    scroll-behavior: smooth;
    background-color: $c-background;
    margin: 0;
    padding: 0;
}

li, 
p {
    @include paragraphregular;
    list-style-type: none;
}

a {
    @include paragraphregular;
    text-decoration: none;
}

a:hover {
    color: $c-primary;
}

h1 {
    @include heading1;
}

h2 {
    @include heading2;
}

h3 {
    @include heading3;
}


img {
    width: 100%;
}
/* Navigation */

header {
    padding: $space-xs $space-l $space-xs $space-l;
    max-width: 100%;

    ul {
        text-align: right;
    }

    li {
        display: inline-block;
        padding: 0 $space-m;
        text-transform: uppercase;
    }
}

/* Main */

main {
    margin: $space-xl;
    max-width: 1440px;
}

/* Footer */
footer {
    margin: $space-l;
    margin-bottom: -$space-xxxl;
    display: flex;
    justify-content: space-between;
    
}
.getintouch {
    @include paragraphbold;
    color: $c-primary;
}

.credits {
    transform: translateY($space-m);
}

/* Index */

.headline {
    margin: $space-xxxl $space-s $space-xxxl;
    @media #{ $mq-large } {
		margin: $space-xxxl;
	}
}

.folio {
    @include paragraphlight;
}

.name {
    max-width: 10rem;
    margin-top: 2rem;
    font-size: 4.2rem;
    line-height: 5.8rem;
    color: $c-primary;
    @media #{ $mq-medium } {
		font-size: 6rem;
        line-height: 7rem;;
	}
}

.jobtitle {
    @include paragraphbold;
    color: $c-neutral;
    position: relative;
    text-align: right;
    margin-top: 2rem;
    @media #{ $mq-medium} {
		font-size: 2rem;
        text-align: left;
        left: $space-xxxxl;

	}
}

.container {
}

/* About Page*/

.aboutsection {
    max-width: 50rem;
    margin-bottom: $space-xxxl;
}

.aboutdescription {
    @include paragraphlight;
    font-size: 1.5rem;
    line-height: 2.2rem;
}

/* About Page - Resume*/

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: -$space-s ;
    padding: 0;
}

.resumecolumn {
    @media #{ $mq-large} {
        display: flex;
        margin: 0; 
    }
}

.time {
    @include paragraphlight;
    margin-top: $space-l;
    margin-bottom: -1.2rem;
    width: 28rem;
}
.positionlocation {
    @media #{ $mq-large} {
        margin-left: $space-xxl;
    }
}

.position {
    @include paragraphbold;
}

.location {
    margin-top: -$space-m;
    margin-bottom: $space-xl;
}

.insidesections {
        margin-left: -$space-l; 
        margin-bottom: $space-xxl;
        @media #{ $mq-large} {
            margin-top: -$space-s;
        }
}


/* About Page - Skills and Languages*/

.skillsandlanguages {

    ul {
        margin-left: -$space-l;
    }

    li {
        margin: $space-s 0 $space-s 0;
        
    }

    @media #{ $mq-large} {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $space-s;
    }

}

.skillssection {
    width: 32rem;
}

.languagessection {
    margin: $space-xxxl 0 $space-xxxl 0;

    @media #{ $mq-large} {
        margin: 0;
    }
}



/* About Page - Skills and Languages*/
