@import "colors";
@import "typography";
@import "spacing";
@import "mediaqueries";


/* Default values */
html {
    scroll-behavior: smooth;    
}

body {
    @include defaultfont;
    scroll-behavior: smooth;
    background-color: $c-background;
    margin: 0;
    padding: 0;
    width:auto;
}

li, 
p {
    @include paragraphregular;
    list-style-type: none;
}

a {
    @include paragraphregular;
    text-decoration: none;
}

a:hover {
    color: $c-primary;
}

h1 {
    @include heading1;
}

h2 {
    @include heading2;
}

h3 {
    @include heading3;
}


img {
    width: 100%;
}
/* Navigation */

header {
    padding: $space-xs $space-l $space-xs $space-l;
    margin-bottom: $space-xxl;

   
    ul {
        text-align: right;
    }

    li {
        display: inline-block;
        padding: 0 $space-xs;
        text-transform: uppercase;
        @media #{ $mq-medium} {
            padding: 0 $space-s;
        }
        
    }
}

/* Main */

main {
    max-width: 1440px;
}

.aboutpage,
.contactspage {
    margin: $space-xl; 
}

/* Footer */
footer {
    margin: $space-xxxxl $space-l 0 $space-l ;
    display: flex;
    justify-content: space-between; 
}

.getintouch {
    @include paragraphbold;
    color: $c-primary;
}

.credits {
    transform: translateY($space-m);
}

/* Index */

.headline {
    margin: $space-xxxl $space-s $space-xxxxl $space-xl;

    @media #{ $mq-large } {
		margin: $space-xxxl 0 $space-2xl $space-xxxl;
	}
}

.folio {
    @include paragraphlight;
}

.name {
    max-width: 10rem;
    margin-top: 2rem;
    font-size: 4.2rem;
    line-height: 5.8rem;
    color: $c-primary;
    @media #{ $mq-medium } {
		font-size: 6rem;
        line-height: 7rem;;
	}
}

.jobtitle {
    @include paragraphbold;
    color: $c-neutral;
    position: relative;
    margin-top: 2rem;
    @media #{ $mq-medium} {
		font-size: 2rem;
        margin-left: $space-3xl;
        width: fit-content;
	}
}

/* Animation */
 .rotate {
  animation: rotation 4s infinite linear;
  position: absolute;
  top: $space-3xl;
  left: $space-3xl;
  width: 14rem;
  @media #{ $mq-medium} {
    top: $space-xxxxl;
    left: auto;
    right: $space-xl;
    width: 28rem;;
    }

}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Work Nav*/


.workcontainers {
    position: relative;
    margin: $space-l;

    li {
    margin-top: $space-xxl;
    margin-bottom: $space-xxl;
    @media #{ $mq-large} {
		margin-top: $space-l;
        margin-bottom: $space-l;
        }
    }

    img {
        transform: translateX(-$space-m);
        position: relative;
        display: block;
        width: 100%;
    }

    @media #{ $mq-large} {
		display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
	}

}

.individual_container {
    @media #{ $mq-large} {
        position: relative;
        height: 100%;
        width: 48%;

    }

}

/* About Page*/

.aboutsection {
    max-width: 50rem;
    margin-bottom: $space-xxxl;
}

.aboutdescription {
    @include paragraphlight;
    font-size: 1.5rem;
    line-height: 2.2rem;
}

/* About Page - Resume*/

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: -$space-s ;
    padding: 0;
}

.resumecolumn {
    @media #{ $mq-large} {
        display: flex;
        margin: 0; 
    }
}

.time {
    @include paragraphlight;
    margin-top: $space-l;
    margin-bottom: -1.2rem;
    width: 28rem;
}
.positionlocation {
    @media #{ $mq-large} {
        margin-left: $space-xxl;
    }
}

.position {
    @include paragraphbold;
}

.location {
    margin-top: -$space-m;
    margin-bottom: $space-xl;
}

.insidesections {
        margin-left: -$space-l; 
        margin-bottom: $space-xxl;
        @media #{ $mq-large} {
            margin-top: -$space-s;
        }
}


/* About Page - Skills and Languages*/

.skillsandlanguages {

    ul {
        margin-left: -$space-l;
    }

    li {
        margin: $space-s 0 $space-s 0;
        
    }

    @media #{ $mq-large} {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $space-s;
    }

}

.skillssection {
    width: 32rem;
}

.languagessection {
    margin: $space-xxxl 0 $space-xxxl 0;

    @media #{ $mq-large} {
        margin: 0;
    }
}

/* Work Page*/

.worktitle {
    margin-left: $space-xl;
}

/* Project Page */

.projectcontent {
    margin: $space-xl;
        @media #{ $mq-large} {
        margin: auto;
        width: 50%;
    } 
}
.projectpage {
    
    h1 {
    font-size: 3rem;
    margin-top: $space-xl;
    color: $c-primary;
    }

    h2 {
    @include heading3; 
    margin-top: $space-xxxl;
}

    li {
     list-style-type: square;
    }
}


/* Contacts Page */

.contactspage {
    
    h1 {
        color: $c-primary;
    }
}


.grid-container {
    display: grid;
    grid-template-columns: 6rem auto;
    margin-left: $space-s;

    li {
        display: inline-block;
        padding: 0 $space-xs;

    }
}

.grid-item1,
.grid-item3 {
    grid-column-start: 1;
  }

  .grid-item2,
  .grid-item4  {
    grid-column-start: 2;
  }