@import "colors";
@import "typography";
@import "spacing";
@import "components";
@import "buttons";


/* Default values */
body {
    @include defaultfont;
    scroll-behavior: smooth;
    background-color: $c-background;
    margin: 0;
    padding: 0;
}

li, 
p {
    list-style-type: none;
}

a {
    color: $c-neutral;
    text-decoration: none;
}

h1 {
    @include heading1;
}

h2 {
    @include heading2;
}

p {
    @include paragraphregular;
}


/* Navigation */
header {

    ul {
        padding: $space-s $space-xs;
        text-align: right;
    }

    li {
        display: inline-block;
        padding: 0 $space-m;
    }

}

/* Main */

main {
    margin: $space-xl;
    max-width: 1440px;
}

/* Footer */
footer {
    margin: $space-xl;
    
}

.getintouch {
    @include paragraphbold;
    color: $c-primary;
}


/* About */

.time, .credits {
    @include paragraphlight;
}

.position {
    @include paragraphbold;
}