---
layout: default
title: About
---

<section>
    <h1>{{ page.title }}</h1>
    <p>Hi! My name is Patrícia and I’m a Communication and UX/UI Designer, based in Lisbon, Portugal. I have worked on a range of different fields such as editorial, graphic and web design. Recently I have been developing my personal projects in 3D and Video Editing.</p>
    <p>One of my biggest passions is travelling. I have too many hobbies such as reading, photography and learning languages. But I'm always down to have a few more! </p>
</section>

<section>
    <h2>Experience</h2>
    {%- include experience.html -%}
</section>

<section>
    <h2>Education</h2>
    {%- include education.html -%}
</section>

<section>
    <h2>Skills</h2>
    {%- include skills.html -%}
</section>